.canvas{
  float: left;
  width: 45vw;
  height: 45vw;
  display: block;
  text-align: center;
  border: 1px solid black;
}

.input{
  float: right;
  width: 38%;
  display: block;
  text-align: center;
  border: 1px solid black;
  margin: 5px;
}

.outer{
  margin:2%;
}

.numberOfAreas {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

canvas{
   background-color:black;
   width: 100%;
   height: 100%;
}

