<div class="input">
  <h2>Template laden</h2>
  <form>
    <mat-form-field class="TemplateName">
      <select id="select" matNativeControl required></select>
    </mat-form-field>
  </form>
  <button mat-button (click)="loadTemplate()">Laden</button>
</div>
<div class="input">
  <h2>Template erstellen</h2>
  <form>
    <mat-form-field class="TemplateName">
      <mat-label>Template Name</mat-label>
      <input id="name" matInput>
    </mat-form-field>
  </form>
  <button mat-button (click)="addTemplate()">Hinzufügen</button>
</div>
