.input{
  width: 38%;
  display: block;
  text-align: center;
  border: 1px solid black;
  margin: 5px;
}

.outer{
  margin:2%;
}

.numberOfAreas {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
